<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
<h1>Hey This is Sriram Krishnamurthy !</h1>
<p>Here is my collection of blogs Babe !</p>

<%if(blogs.length) { %>
<div style="display: flex;flex-direction: column;">
    <%blogs.forEach(blog=>{ %>

<div style = "border:1px solid black;margin-bottom: 20px;height:fit-content;width: fit-content;">
<a href="<%=urli%>/blogsy/<%=blog._id %>"> <h3><%=blog.title %></h3>
<h1><%=  blog.snippet   %></h1></a>
<a href="#" data-id=<%=blog._id%>><button>Delete</button></a>
<p><%=blog.body %></p>
  
</div>
<% })%> 

<%}else{%>}
<p>There aren't any blogs to display</p>
<% } %>
</div>


</body>
<script>
    console.log(window.location.href)
</script>
</html>
